.footer-sec{
    background-color: #000000f5;
    color: #f3f3f3;
}
.footer-sec .logo{
    max-width: 100%;
    width: 90px;
}
.footer-sec .menu .link-items a{
    text-decoration: none !important;
    list-style: none;
    overflow: hidden;
    color: #f3f3f3;
}
.footer-sec .contact-right a{
    color: #fff;
    list-style: none;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer-sec .menu li{
    padding: 10px 0px;
}
.footer-sec .menu li{
    list-style: none;
    text-transform: uppercase;
    color: #fff !important;
}
.footer-sec .lp-2{
    letter-spacing: 10px;
}
.footer-sec .scoial-media-link {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-sec .scoial-media-link a{
    font-size: 29px;
    background-color: #1b9ce5;
    padding: 1px 10px 5px;
    color: #fff;
    margin: 10px 0px;
    border-radius: 10px;
}
.footer-sec .whatsapp{
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: #49E670;
    color: #fff !important;
    font-size: 30px;
    width: 60px;;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}